<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head th:fragment="page_head(title)">
  <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">


  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/style.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"> </script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"> </script>
  <script type="text/javascript" th:src="@{/js/common.js}"> </script>

</head>
<body>



<div th:fragment="navigation_menu">
  <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
    <input type="submit" />
  </form>

  <nav class="navbar navbar-default  navbar-expand-lg  navbar-dark " role="navigation" style=" background-color: black;">
    <a class="navbar-brand" th:href="@{/}">
      <img th:src="@{/images/company-logo.jpg}" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>



    <div class = "collapse navbar-collapse " id="topNavbar" style="font-size: 1.7rem; width:100%">
      <ul class="navbar-nav " style="font-color: white">

        <li class="nav-item mr-3" sec:authorize="hasAuthority('Admin')">
          <a class="nav-link" th:href="@{/users}">Users</a>
        </li>

        <li class="nav-item mr-3">
          <a class="nav-link" th:href="@{/products}">Products</a>
        </li>

        <li class="nav-item mr-3">
          <a class="nav-link" th:href="@{/customers}">Customers</a>
        </li>

        <li class="nav-item mr-3" sec:authorize="hasAnyAuthority('Admin')">
          <a class="nav-link" th:href="@{/categories}">Categories</a>
        </li>



        <li class="nav-item mr-5" >
          <a class="nav-link" th:href="@{/account}">My Account</a>
        </li>

        <li>
          <span class="fas fa-user fa-2x icon-white" mr-3> </span>
        </li>

        <li class="nav-item dropdown mr-5">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" sec:authentication="principal.username"
          ></a>
        </li>

        <li class="nav-item " >
          <a class="nav-link" id="logoutlink" href="" style="cursor: pointer;">Logout</a>
        </li>

      </ul>

    </div>
  </nav>


</div>







</body>
</html>
