<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >

<head th:replace="header_fragments :: page_head('Error - Online Store Admin')"  />

<!-- Spring boot will use this as the default 403 error page -->
<body>
<div class="container-fluid text-center">
  <div th:replace="navigation_fragments :: navigation_menu"></div>

  <div class="m-3 text-center">
    <h2> Unfortunately you are forbidden from accessing this page</h2>
  </div>

</div>


</body>
</html>