<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>

<head th:replace="header_fragments :: page_head('Product')"  />



<body>




<div th:fragment="content" th:remove="tag">

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" >Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{name}" minlength="3" maxlength="256" required/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" >Alias:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{alias}" placeholder="Placeholders should relate to identifying product" minlength="3" maxlength="256" required/>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label" >Category:</label>
        <div class="col-sm-10">
            <select class="form-control" th:field="*{category}" required>
                <th:block th:each="category : ${categoryList}">
                    <option th:value="${category.id}" th:text="${category.name}"> </option>
                </th:block>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" >Enabled:</label>
        <div class="col-sm-10">
            <input type="checkbox" th:field="*{enabled}"/>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label" >In Stock:</label>
        <div class="col-sm-10">
            <input type="checkbox" th:field="*{inStock}"/>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label" >Cost:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{cost}"  id="formcost" min="0" aria-valuemin="0" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" >Price:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{price}"  id="formprice" min="0" aria-valuemin="0" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" >Discount %:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{discountPercent}"  id="formdiscount" min="0" aria-valuemin="0" />
        </div>
    </div>







</div>










</body>
</html>